Repository What-s-Your-Plan/wypl-backend, pull requests merged in 2024-09, with the labels that each got.

#7 JPA 및 MongoDB의 기본 설정을 작성
  common/src/main/java/com/wypl/common/exception/GlobalErrorCode.java
  domain/jpa-core/build.gradle
  domain/jpa-core/src/main/java/com/wypl/jpacore/.gitkeep
  domain/jpa-core/src/main/java/com/wypl/jpacore/JpaAuditingConfig.java
  domain/jpa-core/src/main/java/com/wypl/jpacore/JpaBaseEntity.java
  domain/jpa-core/src/main/java/com/wypl/jpacore/JpaErrorCode.java
  domain/jpa-core/src/main/resources/application.yml
  domain/mongo-core/build.gradle
  domain/mongo-core/src/main/java/com/wypl/mongocore/.gitkeep
  domain/mongo-core/src/main/java/com/wypl/mongocore/MongoAuditingConfig.java
  domain/mongo-core/src/main/java/com/wypl/mongocore/MongoBaseEntity.java
  domain/mongo-core/src/main/java/com/wypl/mongocore/MongoErrorCode.java
  domain/mongo-core/src/main/resources/application.yml
Labels: Type: ✨ Feature, Priority: 🙏 P1, Module: Common, Status: Review Needed, Module: Jpa Core, Module: Mongo Core

#11 Server Github Actions 작성
  .github/workflows/application-calendar-server-test.yml
  .github/workflows/application-image-server-test.yml
  .github/workflows/application-notification-server-test.yml
  .gitignore
  application/wypl-image/build.gradle
Labels: Priority: 👏 P3, Module: Calendar Server, Module: Notification Server, Module: Image Server, Status: Complete, Type: Github Actions

#12 Calendar Domain 작성
  .DS_Store
  domain/jpa-calendar-domain/src/main/java/com/wypl/jpacalendardomain/.gitkeep
  domain/jpa-calendar-domain/src/main/java/com/wypl/jpacalendardomain/calendar/data/Color.java
  domain/jpa-calendar-domain/src/main/java/com/wypl/jpacalendardomain/calendar/data/InviteStatus.java
  domain/jpa-calendar-domain/src/main/java/com/wypl/jpacalendardomain/calendar/domain/Calendar.java
  domain/jpa-calendar-domain/src/main/java/com/wypl/jpacalendardomain/calendar/domain/MemberCalendar.java
  domain/jpa-calendar-domain/src/main/java/com/wypl/jpacalendardomain/calendar/domain/MemberCalendarId.java
  domain/jpa-calendar-domain/src/main/java/com/wypl/jpacalendardomain/schedule/data/RepetitionCycle.java
  domain/jpa-calendar-domain/src/main/java/com/wypl/jpacalendardomain/schedule/domain/Repetition.java
  domain/jpa-calendar-domain/src/main/java/com/wypl/jpacalendardomain/schedule/domain/Schedule.java
  domain/jpa-calendar-domain/src/main/java/com/wypl/jpacalendardomain/schedule/domain/ScheduleInfo.java
Labels: Type: ✨ Feature, Status: Review Needed, Module: Jpa Calendar Domain

#20 Member 도메인 작성
  common/src/main/java/com/wypl/common/Color.java
  domain/jpa-member-domain/build.gradle
  domain/jpa-member-domain/src/main/java/com/wypl/jpamemberdomain/member/Member.java
  domain/jpa-member-domain/src/main/java/com/wypl/jpamemberdomain/member/MemberSocial.java
  domain/jpa-member-domain/src/main/java/com/wypl/jpamemberdomain/member/OauthProvider.java
  domain/jpa-member-domain/src/main/java/com/wypl/jpamemberdomain/member/SocialMember.java
  domain/jpa-member-domain/src/main/java/com/wypl/jpamemberdomain/member/TimeZone.java
Labels: Module: Common, Module: Jpa Member Domain

#25 일정 생성 Domain 모듈 작성
  application/wypl-core/build.gradle
  application/wypl-core/src/main/java/com/wypl/WyplCoreApplication.java
  application/wypl-core/src/main/java/com/wypl/wyplcore/WyplColorApplication.java
  application/wypl-core/src/main/java/com/wypl/wyplcore/schedule/data/request/ScheduleCreateRequest.java
  application/wypl-core/src/main/java/com/wypl/wyplcore/schedule/data/request/ScheduleRequest.java
  application/wypl-core/src/main/java/com/wypl/wyplcore/schedule/service/ScheduleService.java
  application/wypl-core/src/main/resources/application.properties
  application/wypl-core/src/main/resources/application.yml
  common/src/main/java/com/wypl/common/exception/GlobalErrorCode.java
  domain/jpa-calendar-domain/src/main/java/com/wypl/jpacalendardomain/calendar/data/ConvertibleSchedule.java
  domain/jpa-calendar-domain/src/main/java/com/wypl/jpacalendardomain/calendar/data/ConvertibleScheduleInfo.java
  domain/jpa-calendar-domain/src/main/java/com/wypl/jpacalendardomain/calendar/data/RepetitionCycle.java
  domain/jpa-calendar-domain/src/main/java/com/wypl/jpacalendardomain/calendar/domain/Calendar.java
  domain/jpa-calendar-domain/src/main/java/com/wypl/jpacalendardomain/calendar/domain/MemberCalendar.java
  domain/jpa-calendar-domain/src/main/java/com/wypl/jpacalendardomain/calendar/domain/Schedule.java
  domain/jpa-calendar-domain/src/main/java/com/wypl/jpacalendardomain/calendar/domain/ScheduleInfo.java
  domain/jpa-calendar-domain/src/main/java/com/wypl/jpacalendardomain/calendar/mapper/ScheduleInfoMapper.java
  domain/jpa-calendar-domain/src/main/java/com/wypl/jpacalendardomain/calendar/mapper/ScheduleMapper.java
  domain/jpa-calendar-domain/src/main/java/com/wypl/jpacalendardomain/calendar/repository/ScheduleInfoRepository.java
  domain/jpa-calendar-domain/src/main/java/com/wypl/jpacalendardomain/calendar/repository/ScheduleRepository.java
  domain/jpa-calendar-domain/src/main/java/com/wypl/jpacalendardomain/schedule/domain/Repetition.java
  domain/jpa-calendar-domain/src/main/java/com/wypl/jpacalendardomain/schedule/domain/Schedule.java
  domain/jpa-common/src/main/java/com/wypl/jpacommon/JpaErrorCode.java
  domain/mongo-common/src/main/java/com/wypl/mongocommon/MongoErrorCode.java
  settings.gradle
Labels: Priority: 🙏 P1, Module: Core Server, Status: Review Needed, Module: Jpa Calendar Domain

#27 Review Controller 마이그레이션을 진행
  application/wypl-core/build.gradle
  application/wypl-core/src/main/java/com/wypl/WyplCoreApplication.java
  application/wypl-core/src/main/java/com/wypl/wyplcore/auth/annotation/Authenticated.java
  application/wypl-core/src/main/java/com/wypl/wyplcore/auth/domain/AuthMember.java
  application/wypl-core/src/main/java/com/wypl/wyplcore/auth/utils/AuthenticatedArgumentResolver.java
  application/wypl-core/src/main/java/com/wypl/wyplcore/global/config/WebConfig.java
  application/wypl-core/src/main/java/com/wypl/wyplcore/review/controller/ReviewController.java
  application/wypl-core/src/main/java/com/wypl/wyplcore/review/data/request/ReviewCreateRequest.java
  application/wypl-core/src/main/java/com/wypl/wyplcore/review/data/request/ReviewType.java
  application/wypl-core/src/main/java/com/wypl/wyplcore/review/data/request/ReviewUpdateRequest.java
  application/wypl-core/src/main/java/com/wypl/wyplcore/review/data/response/ReviewDetailResponse.java
  application/wypl-core/src/main/java/com/wypl/wyplcore/review/data/response/ReviewIdResponse.java
  application/wypl-core/src/main/java/com/wypl/wyplcore/review/data/response/ReviewListResponse.java
  application/wypl-core/src/main/java/com/wypl/wyplcore/review/data/response/ReviewResponse.java
  application/wypl-core/src/main/java/com/wypl/wyplcore/review/exception/ReviewErrorCode.java
  application/wypl-core/src/main/java/com/wypl/wyplcore/review/exception/ReviewException.java
  application/wypl-core/src/main/java/com/wypl/wyplcore/review/service/ReviewModifyService.java
  application/wypl-core/src/main/java/com/wypl/wyplcore/review/service/ReviewReadService.java
  application/wypl-core/src/main/java/com/wypl/wyplcore/review/service/ReviewServiceImpl.java
  application/wypl-core/src/main/java/com/wypl/wyplcore/review/utils/ReviewUtils.java
  application/wypl-core/src/main/resources/application.yml
  application/wypl-core/src/test/java/com/wypl/wyplcore/.gitkeep
  application/wypl-core/src/test/java/com/wypl/wyplcore/WyplCalendarApplicationTests.java
  domain/jpa-member-domain/src/main/java/com/wypl/jpamemberdomain/member/Member.java
  domain/jpamongo-review-domain/src/main/java/com/wypl/jpamongoreviewdomain/review/domain/Review.java
  domain/jpamongo-review-domain/src/main/java/com/wypl/jpamongoreviewdomain/review/repository/ReviewRepository.java
  domain/jpamongo-review-domain/src/main/java/com/wypl/jpamongoreviewdomain/reviewcontents/domain/BlockType.java
  domain/jpamongo-review-domain/src/main/java/com/wypl/jpamongoreviewdomain/reviewcontents/domain/ReviewContent.java
  domain/jpamongo-review-domain/src/main/java/com/wypl/jpamongoreviewdomain/reviewcontents/domain/ReviewContents.java
  domain/jpamongo-review-domain/src/main/java/com/wypl/jpamongoreviewdomain/reviewcontents/domain/contenttype/EmotionContent.java
  domain/jpamongo-review-domain/src/main/java/com/wypl/jpamongoreviewdomain/reviewcontents/domain/contenttype/FourFContent.java
  domain/jpamongo-review-domain/src/main/java/com/wypl/jpamongoreviewdomain/reviewcontents/domain/contenttype/KPTContent.java
  domain/jpamongo-review-domain/src/main/java/com/wypl/jpamongoreviewdomain/reviewcontents/domain/contenttype/PictureContent.java
  domain/jpamongo-review-domain/src/main/java/com/wypl/jpamongoreviewdomain/reviewcontents/domain/contenttype/TextContent.java
  domain/jpamongo-review-domain/src/main/java/com/wypl/jpamongoreviewdomain/reviewcontents/domain/contenttype/WeatherContent.java
  domain/jpamongo-review-domain/src/main/java/com/wypl/jpamongoreviewdomain/reviewcontents/repository/ReviewContentsRepository.java
Labels: Type: ✨ Feature, Type: 🔧 Config, Module: Core Server, Status: Review Needed, Module: Jpa Member Domain

#29 [BUG] Schedule Entity import 에러 해결
  application/wypl-core/src/main/java/com/wypl/wyplcore/review/data/response/ReviewDetailResponse.java
  application/wypl-core/src/main/java/com/wypl/wyplcore/review/service/ReviewServiceImpl.java
  domain/jpamongo-review-domain/src/main/java/com/wypl/jpamongoreviewdomain/review/domain/Review.java
  domain/jpamongo-review-domain/src/main/java/com/wypl/jpamongoreviewdomain/review/repository/ReviewRepository.java
Labels: Priority: 🙏 P1, Type: 🚑 Fix, Module: Core Server, Status: Complete, Module: Jpa Mongo Review Domain
